.wrap {
  width: 60%;
  height: 92vh;
  padding: 0.5em 2em;
  margin: 1em auto;
  background: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.containers {
  display: flex;
  justify-content: space-between;
}